:root {
    --palette-color-1: #212121;
    --palette-color-2: white;
    --palette-color-3: #2B393B;
    --palette-color-4: #5CDB95;
  }

@font-face {
    font-family: 'Rubik';
    src: url('resources/fonts/Rubik-Light.woff2') format('woff2'),
        url('resources/fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Secular One';
    src: url('resources/fonts/SecularOne-Regular.woff2') format('woff2'),
        url('resources/fonts/SecularOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: var(--palette-color-1);
    margin: 0;
    height: 10000px;
}

.image {
    border-radius: 3rem;
    min-width: 0px;
    min-height: 0px;
    width: 100%;
    margin: 1rem 0;
}